/* style del form 3 pasos :) */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

   /* Estilos para las pestañas */
  
   .tab2, .tab3 {
    display: none;
  }

  .tab1, .tab2, .tab3 {
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 250px;
    padding-top: 40px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  main{
    min-height: 100vh;
  }
  body{
    width: 100vw;
    /* min-height: 100vh; */
    background-color: rgb(7, 47, 105,70%);
    margin: 0;
    font-size: 16px;
    padding: 0;
  }
   
  h1 {
      text-align: center;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      font-style: normal;
      word-spacing: 1px;
      text-decoration: none;
      text-transform: uppercase;
  }
  
  fieldset {
      display: inline-block;
      vertical-align: 7%; 
      margin: 4%; 
      width: 41%;
      height: 25%;
      border-style: outset;
      border-width: 2%;
      border-color:rgb(0, 0, 0,1);
      padding: 2%;
  }

  fieldset legend {
    color: black;
    font-size: 18px;
    font-weight: bold;
  }

  .profesional {
    display: inline-flex;
    align-items: center;
    margin-top: 15px;
    margin-left: 30%;
    height: 5%;
  } 

  .Fech {
    display: inline-flex;
    margin-top: 15px; 
    margin-left: 30%;
    height: 5%;
  } 

  /* pagina Dos */

  .SoliCotiz {
    width: 100vw;
    max-width: 600px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
  }

.inputContainer {
    margin-left: 40%;
    align-items: center; 
    border: none;
    padding: 1rem 0;
    }
      
.NpagDos {
    display: block;
    margin: 0.5rem 0;
    }    
textarea {
    border: none; 
    color: rgb(207, 249, 245,100%);
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
}    

.MensTarifa {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 15px;
}

/* Pagina Tres */

.MensFinal {
  text-align: center;
  
}

.RegExito {
  text-align: center;
  text-decoration: underline;
  font-style: normal;
  font-size: larger;
  margin-top: 3%;

}

   /* Estilos para los botones Formulario Cotización */
        
.btnAtras {
    float: left;
    margin-top: 10%;
    margin-bottom: 25px;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

 .btnSigUno {
    float: right;
    margin-top: 10%;
    margin-bottom: 25px;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    }

.btnSigDos {
    float: right;
    margin-top: 10%;
    margin-bottom: 25px;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    }  

.btnAnterior {
    float: left;
    margin-top: 10%;
    margin-bottom: 25px;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    } 
  
.btnEnviar {
    float: right;
    margin-top: 10%;
    margin-bottom: 25px;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    }
       
  
    /* estilos integrados */
:root{
    --casiBlanco: aliceblue;
    --CasiBlancoTransparente: rgba(253,253,253,70%);
    --temaVerde: rgba(7, 47, 105,1);
    --casiNegro: rgba(35, 35, 35);
    --temaVerdeHover: rgb(225, 23, 68);
    --temaRosa: rgb(225, 23, 68);
    --temaVerdeTransparente: rgb(7, 47, 105,70%);
    --temaVerdeFondo: rgb(207, 249, 245,100%);
}
html{
    scroll-behavior: smooth;
}
body::-webkit-scrollbar{
    width:  15px;
}
body::-webkit-scrollbar-thumb{
    background-color: rgba(35, 35, 35, 0.5);
    

}
body::-webkit-scrollbar-thumb:hover{
    background-color: rgba(35, 35, 35);
}
.margenScroll{
    scroll-margin-top: 11ex;
}
.margenScrollNosotros{
    scroll-margin-top: 4ex;
}

/* bOTONES */
.btn-verde{
    background-color: var(--temaVerde) ;
    color: var(--casiBlanco);
    font-size: 1.2rem;
    font-weight:600;
    padding: 0.5em;
    border-radius: 0.63rem;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25) ;
    text-shadow: none;
    text-shadow: 0 1px 10px rgb(0, 0, 0,1);
}
.btn-verde:hover{
    
    transition: 0.5s ease-in-out;
    background-color: var(--temaRosa);
    color: var(--casiBlanco);
    transform: scale(1.1);
}
.btn-rosa{
    background-color: var(--temaRosa) ;
    color: var(--casiBlanco);
    font-size: 1.2rem;
    font-weight:600;
    padding: 0.5em;
    border-radius: 0.63rem;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    text-shadow: none;
    text-shadow: 0 1px 10px rgb(0, 0, 0,1);
}
.btn-rosa:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
    background-color: var(--temaVerde);
    color: var(--casiBlanco);
}

/* fOOTER */
.delFooter1{
    position: absolute;
    left:3rem;
    margin-top: -3rem;
}
.delFooter{
    position: absolute;
    right:3rem;
    margin-top: -3rem;
}
footer{
    text-align: center;
    height: 10rem;
    background: var(--casiNegro);
}
footer p{
    position: relative;
    top: 1.5rem;
    color: var(--casiBlanco);
    font-weight:lighter;
    font-size: 0.8rem;
}
.iconos{
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 1rem;

}
.iconos img{
    width: 3rem;
    height: 3rem;
}

.iconos a img{
    background-color:transparent;
    filter: drop-shadow(0.2px 0.2px 0.2px var(--casiBlanco));
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
    -ms-transition: .5s, color .10s;
    -o-transition: .5s, color .10s;
    -webkit-filter: drop-shadow(0.2px 0.2px 0.2px var(--casiBlanco));
}
.iconos a img:hover{
    transition: 0.5s ease-in-out;
    filter: drop-shadow(0px 0.5px 0.5px var(--casiBlanco));
    transform: scale(1.2);
    -webkit-filter: drop-shadow(0px 0.5px 0.5px var(--casiBlanco));
}

/* HEADER */
header{
  width: 100%;
  height: 6.25rem;
}
.logo{
    color:var(--temaRosa);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.logo a{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  gap: 1.25rem;
}
.logo h2{
    color:var(--temaRosa);
    font-weight:600;
    padding-bottom: 2%;
    font-size: 1.875rem;
}
.btn-menu{
    background-color: transparent;
    border: none;
    color: var(--temaRosa);
    font-size: 32px;
    display: none;
}
.enlaces{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  gap: 1em;
}
.enlaces .botonConBorde{
    padding: .5em;
    border: 1px solid var(--temaRosa);
    border-radius: .625rem;
}
.enlaces a{
    color: var(--temaRosa);
    font-size: 1rem;
    font-weight:lighter;
    padding: .5em;
    /* padding: 0px; */
    border: px solid var(--temaVerde);
    border-radius: .625rem;
}
.enlaces a:hover{
    transition: 0.5s ease-in-out;
    /* background-color: var(--temaVerdeTransparente); */
    filter: drop-shadow(0px 0px 15px var(--temaRosa));
    color: var(--casiBlanco);
    transform: scale(1.1);
}
.enlaces .textoNegrita{
  font-weight:700;
}
.encabezadoFijo{
  width: 100%;
  height: 6.25rem;
  padding: 3vh 5vw;
  background-color: var(--casiNegro);
  position: fixed;
  color: var(--temaVerde);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  gap: 1em;
  z-index: 1;
}


/* --Para API dolar */

.apiDolar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.containerTipoCotizaciones{
    /* max-width: 380px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 1rem;    
    /* padding-top: 2rem; */
}
.containerCambioOficial,
.containerCambioBlue{
    margin-left: 5rem;
    width: auto;
    padding: 1rem;
    background-color: var(--CasiBlancoTransparente);
    box-shadow: -3px 3px 7px 3px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    color: var(--temaRosa);
}
.containerCambioOficial :hover,
.containerCambioBlue :hover{
    transition: 0.3s ease-in-out;
    filter: drop-shadow(-2px 0px 4px var(--temaRosa));
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    -webkit-filter: drop-shadow(-2px 0px 4px var(--temaRosa));
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    cursor:default;
}
.containerTipoCotizaciones .ahora{
    text-align: center;padding-bottom: .2rem;
    font-weight: 400;
}
.containerTipoCotizaciones .totalArsAlOficial{
    font-weight: 500;
}
.containerTipoCotizaciones h2{
    margin-bottom: .5rem;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
}
.containerTipoCotizaciones p{
    color: var(--temaVerde);
    padding-left: 1rem;
    padding-right: 1rem;
    font-style: normal;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.3rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
}
.btn-rosa-cotiz{   
    margin-left: 5rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    max-width: 200px;
    background-color: var(--temaRosa) ;
    color: var(--casiBlanco);
    font-size: 1.2rem;
    font-weight:600;
    padding: 0.5em;
    border-radius: 0.63rem;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    text-shadow: none;
    text-shadow: 0 1px 10px rgb(0, 0, 0,1);
}
.btn-rosa-cotiz:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
    background-color: var(--temaVerde);
    color: var(--casiBlanco);
}




/* Media Querys */
@media screen and (max-width: 1300px ){
    html{
        font-size: 75%;
    }
    header{
        font-size: 12px;
    }
    .favicon{
        transition: 0.5s ease-in-out;
        width: 42px;
        height: 22px;
    }
    h2{
        transition: 0.5s ease-in-out;
        font-size: 2rem;
    }
    .encabezadoFijo{     
        transition: 0.5s ease-in-out;   
        height: 70px;
    }
    header{
        transition: 0.5s ease-in-out;
        height: 70px;
    }
    iframe{
        transition: 0.5s ease-in-out;
        height: 337,5px;
        width: 450px;
    }
    
}
@media screen and (max-width: 930px ){
    html{
        font-size: 63%;
    }
    header{
        font-size: 10px;
    }
    body{
        font-size: 10px;
    }
    .favicon{
        transition: 0.5s ease-in-out;
        width: 38px;
        height: 18px;
    }
    h2{
        transition: 0.5s ease-in-out;
        font-size: 1rem ;
    }
    .iconos{
        transition: 0.5s ease-in-out;
        /* width: 30rem; */
        /* padding-left: 3rem; */
        padding-top: 7rem;
        padding-bottom: 1rem;
        
    }
    .encabezadoFijo{   
        transition: 0.5s ease-in-out;     
        height: 50px;
    }
    header{
        transition: 0.5s ease-in-out;
        height: 50px;
    }
    .enlaces{
        display: none;
    }
    .btn-menu{
        display: block;
    }
    iframe{
        transition: 0.5s ease-in-out;
        height: 225px;
        width: 300px;
    }
    footer{
        height: 15rem;
    }
    .delFooter1{
        
        left:2rem;
        margin-top: -9rem;
    }
    .delFooter{
        
        right:2rem;
        margin-top: -9rem;
    }
    /* ---------Para el manú de hamburguesa---------- */

    .enlacesMenu{
        background-color: var(--casiNegro);
        border-radius: 0.63rem;
        padding: 3rem;
        position:absolute; 
        right: 0rem;
        display:flex;
        margin-top: 30rem;
        flex-wrap:wrap;
        flex-direction: column;
        justify-content:start; ;
        align-items:end;
        gap: 2rem;
        font-weight:700;
        box-shadow: -2px 2px 8px var(--casiNegro);
        transition: 0.3s ease-in;
    }
    .enlacesVisibles{
        transform: translate(100%, 0%);
        visibility: hidden;
        transition: 0.3s ease-in;
    }
    .btn-menu{
        display: block;
        cursor: pointer;
    }
/* ----------------------- */

.containerTipoCotizaciones{
    flex-direction: column;
}

}  

