/* style del form 3 pasos :) */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

div {
  width: 100%;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-top: 30px;
  background-color: rgb(92, 92, 198);
}
   
   
   
   
   /* Estilos para las pestañas */
  

        .tab2, .tab3 {
          display: none;
        }
        
        
  
        /* Estilos para el botón de siguiente */
        .btn {
          background-color: #4CAF50;
          color: #fff;
          padding: 10px 20px;
          border: none;
          cursor: pointer;
        }