@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
:root{
    --casiBlanco: aliceblue;
    --temaVerde:rgb(16, 228, 204);
    --casiNegro: rgba(35, 35, 35);
    --temaVerdeHover: rgb(225, 23, 68);
    --temaRosa: rgb(225, 23, 68);
    --temaVerdeTransparente: rgb(16, 228, 204,30%);
}

a{
    background-color: transparent !important;
}
a:hover{
    
    background-color: transparent !important;;
    color: var(--temaVerde);
}
a img:hover{
    
    background-color: transparent !important;;
    color: var(--temaVerde);
}


.presentacionColaborador{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    box-shadow: 0px 6px 11px 5px rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(rgba(16, 228, 204, 0.3),rgba(16, 228, 204, 0.3)), url(https://i.postimg.cc/YqNPC6Kz/img-Presentacion-Colaborador.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-size: 2.2rem;
    color:var(--casiNegro) ;
    padding-top: 210px;
    padding-bottom: 360px;
    text-align:center ;
}
.nombreColaboradorPortfolio{
    color: var(--temaRosa) ;
    font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 208.68%;
}
.presentacionPortfolio{
    
    height: 250px;
    width: 450px;
    border:  4px solid rgb(255, 255, 255);
    border-radius: 15px;
}
.presentacionColaborador p{
    font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 208.68%;
}
.imgCircularColaborador{
    top: 740px;
    left: 41%;
    position: absolute;
    z-index: 0;
    border:  3px solid rgb(255, 255, 255);
    border-radius: 50%;
    height: 350px;
    width: 350px;
    box-shadow: 0px 6px 11px 5px rgba(0, 0, 0, 0.25);
    background-image:  url(../img/imgColab1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.seccionSobreMi{
    background-color: var(--casiBlanco);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    align-content: center;
    padding-bottom: 2rem;
}