@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
:root{
    --casiBlanco: aliceblue;
    --CasiBlancoTransparente: rgba(253,253,253,70%);
    --temaVerde: rgba(7, 47, 105,1);
    --casiNegro: rgba(35, 35, 35);
    --temaVerdeHover: rgb(225, 23, 68);
    --temaRosa: rgb(225, 23, 68);
    --temaVerdeTransparente: rgb(7, 47, 105,70%);
    --temaVerdeFondo: rgb(207, 249, 245,100%);
}
html{
    scroll-behavior: smooth;
}
body::-webkit-scrollbar{
    width:  15px;
}
body::-webkit-scrollbar-thumb{
    background-color: rgba(35, 35, 35, 0.5);
    

}
body::-webkit-scrollbar-thumb:hover{
    background-color: rgba(35, 35, 35);
}
.margenScroll{
    scroll-margin-top: 11ex;
}
.margenScrollNosotros{
    scroll-margin-top: 4ex;
}

/* bOTONES */
.btn-verde{
    background-color: var(--temaVerde) ;
    color: var(--casiBlanco);
    font-size: 1.2rem;
    font-weight:600;
    padding: 0.5em;
    border-radius: 0.63rem;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25) ;
    text-shadow: none;
    text-shadow: 0 1px 10px rgb(0, 0, 0,1);
}
.btn-verde:hover{
    
    transition: 0.5s ease-in-out;
    background-color: var(--temaRosa);
    color: var(--casiBlanco);
    transform: scale(1.1);
}
.btn-rosa{
    background-color: var(--temaRosa) ;
    color: var(--casiBlanco);
    font-size: 1.2rem;
    font-weight:600;
    padding: 0.5em;
    border-radius: 0.63rem;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    text-shadow: none;
    text-shadow: 0 1px 10px rgb(0, 0, 0,1);
}
.btn-rosa:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
    background-color: var(--temaVerde);
    color: var(--casiBlanco);
}

/* fOOTER */
.delFooter1{
    position: absolute;
    left:3rem;
    margin-top: -3rem;
}
.delFooter{
    position: absolute;
    right:3rem;
    margin-top: -3rem;
}
footer{
    text-align: center;
    height: 10rem;
    background: var(--casiNegro);
}
footer p{
    position: relative;
    top: 1.5rem;
    color: var(--casiBlanco);
    font-weight:lighter;
    font-size: 0.8rem;
}
.iconos{
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 1rem;

}
.iconos img{
    width: 3rem;
    height: 3rem;
    /* filter: drop-shadow(-2px 0px 8px var(--temaVerdeTransparente)); */
}
.iconos a{
    background-color:transparent;
    filter: drop-shadow(0px 0px 1px var(--casiBlanco));
}
.iconos a img:hover{
    /* height: 5rem;
    width: 5rem; */
    transition: 0.5s ease-in-out;
    filter: drop-shadow(-2px 0px 8px var(--temaRosa));
    transform: scale(1.2);
}

/* HEADER */
header{
    width: 100%;
    height: 6.25rem;
}
.logo{
    color:var(--temaRosa);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.logo a{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    gap: 1.25rem;
}
.logo h2{
    color:var(--temaRosa);
    font-weight:600;
    padding-bottom: 2%;
    font-size: 1.875rem;
}
.btn-menu{
    background-color: transparent;
    border: none;
    color: var(--temaRosa);
    font-size: 32px;
    display: none;
}
.enlaces{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    gap: 1em;
}
.enlaces .botonConBorde{
    padding: .5em;
    border: 1px solid var(--temaRosa);
    border-radius: .625rem;
}
.enlaces a{
    color: var(--temaRosa);
    font-size: 1rem;
    font-weight:lighter;
    padding: .5em;
    /* padding: 0px; */
    border: px solid var(--temaVerde);
    border-radius: .625rem;
}
.enlaces a:hover{
    transition: 0.5s ease-in-out;
    /* background-color: var(--temaVerdeTransparente); */
    filter: drop-shadow(0px 0px 15px var(--temaRosa));
    color: var(--casiBlanco);
    transform: scale(1.1);
}
.enlaces .textoNegrita{
    font-weight:700;
}
.encabezadoFijo{
    width: 100%;
    height: 6.25rem;
    padding: 3vh 5vw;
    background-color: var(--casiNegro);
    position: fixed;
    color: var(--temaVerde);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    gap: 1em;
    z-index: 1;
}

/* Media Querys */
@media screen and (max-width: 1300px ){
    html{
        font-size: 75%;
    }
    header{
        font-size: 12px;
    }
    .favicon{
        transition: 0.5s ease-in-out;
        width: 42px;
        height: 22px;
    }
    h2{
        transition: 0.5s ease-in-out;
        font-size: 2rem;
    }
    .encabezadoFijo{     
        transition: 0.5s ease-in-out;   
        height: 70px;
    }
    header{
        transition: 0.5s ease-in-out;
        height: 70px;
    }
    iframe{
        transition: 0.5s ease-in-out;
        height: 337,5px;
        width: 450px;
    }
    
}
@media screen and (max-width: 930px ){
    html{
        font-size: 63%;
    }
    header{
        font-size: 10px;
    }
    body{
        font-size: 10px;
    }
    .favicon{
        transition: 0.5s ease-in-out;
        width: 38px;
        height: 18px;
    }
    h2{
        transition: 0.5s ease-in-out;
        font-size: 1rem ;
    }
    .iconos{
        transition: 0.5s ease-in-out;
        /* width: 30rem; */
        /* padding-left: 3rem; */
        padding-top: 7rem;
        padding-bottom: 1rem;
        
    }
    .encabezadoFijo{   
        transition: 0.5s ease-in-out;     
        height: 50px;
    }
    header{
        transition: 0.5s ease-in-out;
        height: 50px;
    }
    .enlaces{
        display: none;
    }
    .btn-menu{
        display: block;
    }
    iframe{
        transition: 0.5s ease-in-out;
        height: 225px;
        width: 300px;
    }
    footer{
        height: 15rem;
    }
    .delFooter1{
        
        left:2rem;
        margin-top: -9rem;
    }
    .delFooter{
        
        right:2rem;
        margin-top: -9rem;
    }
    /* ---------Para el manú de hamburguesa---------- */

    .enlacesMenu{
        background-color: var(--casiNegro);
        border-radius: 0.63rem;
        padding: 3rem;
        position:absolute; 
        right: 0rem;
        display:flex;
        margin-top: 30rem;
        flex-wrap:wrap;
        flex-direction: column;
        justify-content:start; ;
        align-items:end;
        gap: 2rem;
        font-weight:700;
        box-shadow: -2px 2px 8px var(--casiNegro);
        transition: 0.3s ease-in;
    }
    .enlacesVisibles{
        transform: translate(100%, 0%);
        visibility: hidden;
        transition: 0.3s ease-in;
    }
    .btn-menu{
        display: block;
        cursor: pointer;
    }
/* ----------------------- */
}


/* ---estilos del body--- */

/* Sección presentación del portfolio */
.presentacionColaborador{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    box-shadow: 0px 6px 11px 5px rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(rgba(16, 228, 204, 0.3),rgba(16, 228, 204, 0.3)), url(../img/imgPresentacionColaborador.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    /* font-size: 2.2rem; */
    color:var(--casiNegro) ;
    padding-top: 12.1rem;
    padding-bottom: 18.7rem;
    text-align:center ;
}
.nombreColaboradorPortfolio{
    padding-top: 2rem;
    color: var(--temaRosa) ;
    font-style: normal;
font-weight: 800;
font-size:2.5rem;
line-height: 208.68%;
}
.presentacionPortfolio{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgb(16, 228, 204,30%);
    height: 15.5rem;
    width: 28rem;
    border:  .2rem solid var(--casiBlanco) ;
    border-radius: 1rem;
    box-shadow: 0px 6px 11px 5px rgba(0, 0, 0, 0.25);
}
.presentacionColaborador p{
    font-style: normal;
font-weight: 600;
font-size: 1.5rem;
line-height: 150%;
}

/* Imagen circular */
.imgCircularColaborador{
    top: 40rem;
    left: calc( 50% - 11rem);
    position:absolute;;
    z-index: 0;
    border:  .187rem solid var(--casiBlanco);
    border-radius: 50%;
    height: 22rem;
    width: 22rem;
    box-shadow: 0px 6px 11px 5px rgba(0, 0, 0, 0.25);
    background-image:  url(../img/imgColab1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.sobresalirImgCircular :hover{
    top: calc( 40rem - 2rem);
    left: calc( 50% - 13rem);

    height: 26rem;
    width: 26rem;
    transition: 0.5s ease-in-out;
    border: 2px solid var(--casiBlanco);

}

/* Sección sobre mí */
.seccionSobreMi{
    background-color: var(--casiBlanco);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    align-content: center;
    padding-top: 8rem;
    padding-bottom: 2rem;
    height: 32.8rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sobreMi{
    color: var(--temaRosa) ;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 208.68%;
}
.seccionSobreMi p{
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 208.68%;
}

/* Sección mis trabajos */
.seccionSoluciones{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 5rem;
    background-color: var(--temaVerdeFondo);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    align-content: center;
    padding-bottom: 2rem;
    box-shadow: 0px 6px 30px 8px rgba(0, 0, 0, 0.25);
}
.tituloSoluciones{
    color: var(--temaRosa) ;
    font-style: normal;
    font-weight: 600;
    font-size: 2.5rem;
}
.containerSoluciones{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    gap: 3rem;
    /* text-shadow: 0 0 8px rgb(0, 0, 0,0.8); */
    font-size: 2.2rem;
    color:var(--casiNegro) ;
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align:center ;
}
.solucion1{
    height: 32rem;
    width: 24rem;
    background-color: var(--CasiBlancoTransparente);
    box-shadow: -3px 3px 7px 3px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    color: var(--casiNegro);
}
.solucion2{
    height: 32rem;
    width: 24rem;
    background-color:  var(--CasiBlancoTransparente);
    box-shadow: -3px 3px 7px 3px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
}
.solucion3{
    height: 32rem;
    width: 24rem;
    background-color:  var(--CasiBlancoTransparente);
    box-shadow: -3px 3px 7px 3px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
}
.imgSolucion1{
    
    background-image: url(../img/Solucion1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width:100%;
    height: 12rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 1rem;
    margin-bottom: 2rem;
}
.imgSolucion2{
    background-image: url(../img/solucion2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
    width:100%;
    height: 12rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 1rem;
    margin-bottom: 2rem;
}
.imgSolucion3{
    background-image: url(../img/solucion3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width:100%;
    height: 12rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 1rem;
    margin-bottom: 2rem;

}
.sobresalir :hover{
    height: 50%;
    transition: 0.5s ease-in-out;
    border: 2px solid var(--casiBlanco);
    left: -5%;
}
.nombreSolucion{
    font-style: normal;
    font-weight: 800;
    font-size: 1.5rem;
}
.descripcionSolucion{
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 2rem;
}