@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
:root{
    --casiBlanco: aliceblue;
    --temaVerde:rgb(16, 228, 204);
    --casiNegro: rgba(35, 35, 35);
    --temaVerdeHover: rgb(225, 23, 68);
    --temaRosa: rgb(225, 23, 68);
    --temaVerdeTransparente: rgb(16, 228, 204,30%);
}
html{
    scroll-behavior: smooth;
}
body::-webkit-scrollbar{
    width:  15px;
}
body::-webkit-scrollbar-thumb{
    background-color: rgba(35, 35, 35, 0.5);
    

}
body::-webkit-scrollbar-thumb:hover{
    background-color: rgba(35, 35, 35);
}
.margenScroll{
    scroll-margin-top: 11ex;
}
.margenScrollNosotros{
    scroll-margin-top: 4ex;
}
/* Colocar las media querys como variables para ahorrar código */

.delFooter1{
    position: absolute;
    right:3rem;
    margin-top: -4rem;
}
.delFooter{
    position: absolute;
    right:3rem;
    margin-top: 0rem;
}
footer{
    text-align: center;
    height: 250px;
    background: var(--casiNegro);
}
footer p{
    position: relative;;
    bottom: -50%;
    color: var(--casiBlanco);
    font-weight:lighter;
    font-size: 0.8rem;
}
body{
    background-color: whitesmoke;
    /* font-size: 16px; */
}
header{
    width: 100%;
    height: 100px;
}
.logo{
    color:var(--temaVerde);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    gap: 1em;
    font-size: 1.25em;
}
.logo h2{
    font-weight:600;
    padding-bottom: 2%;
}
.btn-menu{
    background-color: transparent;
    border: none;
    /* width: 40px;
    height: 40px; */
    /* border-radius: 5px; */
    color: var(--temaVerde);
    font-size: 25px;
    display: none;
}
.enlaces{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    gap: 1em;
}
.encabezadoFijo{
    width: 100%;
    height: 100px;
    padding: 3vh 5vw;
    background-color: var(--casiNegro);
    position: fixed;
    color: var(--temaVerde);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    gap: 1em;
    z-index: 1;
}
a{
    color: var(--temaVerde);
    font-size: 1em;
    font-weight:lighter;
}
.textoNegrita{
    font-weight:700;
}
.presentacionEmpresa{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 80px;
    box-shadow: 0px 6px 11px 5px rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(rgba(94, 52, 52, 0.55),rgba(94, 52, 52, 0.55)), url(https://i.ibb.co/1KZ0s8S/img-Presentacion.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-shadow: 0 0 8px rgb(0, 0, 0,0.8);
    font-size: 2.2rem;
    color:var(--casiBlanco) ;
    padding-top: 210px;
    padding-bottom: 150px;
    text-align:center ;
    
}
.presentacionEmpresa p{
    line-height: 2;
    font-size: 1.5rem;
    font-weight:normal;
}
.nosotros h3{
    position: relative;
    margin-left: 7vw;
    font-weight:bold;
    font-size: 2.5rem;
    margin-top: 5rem;
    padding: 2rem;
    color: rgba(7, 47, 105,1);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);   
}
.nosotros p{
    position: relative;
    margin-left: 5vw;
    max-width: 38rem;
    line-height: 2;
    font-size: 1.5rem;
    font-weight:600;
    text-shadow: 0 0 8px rgb(0, 0, 0,0.8);
    text-align: center;
}
.botonContactenosDeNosotros{
    position: relative;
    margin-left: 40vw;
}
.imgPresentacion{
    width: 100%;
}
.btn-verde{
    background-color: var(--temaVerde) ;
    color: black;
    font-size: 1rem;
    font-weight:600;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25) ;
    text-shadow: none;
}
.btn-verde:hover{
    
    transition: 0.5s ease-in-out;
    background-color: var(--temaRosa);
    color: var(--casiBlanco);
}
.btn-rosa{
    background-color: var(--temaRosa) ;
    color: var(--casiBlanco);
    font-size: 1rem;
    font-weight:600;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25) ;
    text-shadow: none;
}
.btn-rosa:hover{
    
    transition: 0.5s ease-in-out;
    background-color: var(--temaVerde);
    color: var(--casiNegro);
}
.botonConBorde{
    padding: 6px;
    border: 1px solid var(--temaVerde);
    border-radius: 10px;
}
.enlaces a{
    padding: 7px;
}
a{
    padding: 0px;
    border: px solid var(--temaVerde);
    border-radius: 10px;
}
.sobresalir :hover{
    height: 55%;
    transition: 0.5s ease-in-out;
    border: 2px solid var(--casiBlanco);
    left: -5%;
}
a:hover{
    transition: 0.5s ease-in-out;
    background-color: var(--temaVerdeTransparente);
    color: var(--casiBlanco);
}
.nosotros{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 4vh;
    box-shadow: 0px 6px 11px 5px rgba(0, 0, 0, 0.25);
    background-image:  url(https://i.ibb.co/whvLmZm/img-Nosotros.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color:var(--casiBlanco) ;
    padding-bottom: 150px;
}
.seccionColaboradores{
    font-size: 2rem;
    background-color: var(--temaVerdeTransparente);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    align-content: center;
    padding-bottom: 2rem;
}
.seccionNosotros{
    font-size: 2rem;
    background-color: var(--temaVerdeTransparente); 
    font-size: 2.5rem;
    padding: 2rem;
    color: rgb(7, 47, 105);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;   
}
.seccionSoluciones{
    background: linear-gradient(rgba(241, 241, 241, 0.5),rgba(241, 241, 241, 0.5)),url(https://i.ibb.co/F8HywcY/img-Soluciones.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    align-content: center;
    padding-bottom: 2rem;
    box-shadow: 0px 6px 11px 5px rgba(0, 0, 0, 0.25);
}
.tituloColaboradores{
    text-align: center;
    font-size: 2.5rem;
    padding: 2rem;
    color: rgb(7, 47, 105);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.containerColaboradores{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    gap: 3rem;
    /* text-shadow: 0 0 8px rgb(0, 0, 0,0.8); */
    font-size: 2.2rem;
    color:var(--casiNegro) ;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align:center ;
}
.leyendaMapas{
    font-size: 1.5rem;
    padding: 2rem;
    color: rgb(7, 47, 105);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.colaborador1{
    height: 410px;
    width: 21rem;
    background-color: var(--temaVerdeTransparente);
    box-shadow: -3px 3px 7px 3px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    color: var(--casiNegro);
}
.colaborador2{
    height: 410px;
    width: 21rem;
    background-color:  rgba(245, 0, 87, 0.7);
    box-shadow: -3px 3px 7px 3px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.colaborador3{
    height: 410px;
    width: 21rem;
    background-color:  rgba(255, 193, 7, 0.7);
    box-shadow: -3px 3px 7px 3px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.imgColaborador1{
    
    background-image: url(https://i.ibb.co/Lhb0ZKf/Colaborador1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width:100%;
    height: 192px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
}
.imgColaborador2{
    background-image: url(https://i.ibb.co/4SsXNRb/Colaborador2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
    width:100%;
    height: 192px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
}
.imgColaborador3{
    background-image: url(https://i.ibb.co/rtN3ksH/Colaborador3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width:100%;
    height: 192px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
}
.imgSolucion1{
    
    background-image: url(https://i.ibb.co/sqQ9WJ8/solucion1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width:100%;
    height: 192px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
}
.imgSolucion2{
    background-image: url(https://i.ibb.co/VvXVyDV/solucion2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
    width:100%;
    height: 192px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
}
.imgSolucion3{
    background-image: url(https://i.ibb.co/C0ZGCHq/solucion3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width:100%;
    height: 192px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
}
.seccionOficinas{
    background-color: var(--temaVerdeTransparente);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    align-content: center;
    padding-bottom: 2rem;
}
iframe{
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}
.nombreColaborador{
    font-style: normal;
    font-weight: 800;
    font-size: 1.2rem;
    /* line-height: 22px;
    padding-bottom: 2rem; */
}
.aptitudesColaborador{
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
   /*  line-height: 19px; */
}
.iconos{
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 1rem;

}
.iconos img{
    width: 40px;
    height: 40px;
    filter: drop-shadow(-2px 0px 8px var(--temaVerdeTransparente));
}
.iconos a{
    background-color:transparent;
}
a img:hover{
    height: 45px;
    width: 45px;
    transition: 0.5s ease-in-out;
    filter: drop-shadow(-2px 0px 8px var(--temaVerde));
}



/* Media Querys */
@media screen and (max-width: 1300px ){
    header{
        font-size: 12px;
    }
    body{
        font-size: 12px;
    }
    .favicon{
        transition: 0.5s ease-in-out;
        width: 42px;
        height: 22px;
    }
    h2{
        transition: 0.5s ease-in-out;
        font-size: 2rem;
    }
    .encabezadoFijo{     
        transition: 0.5s ease-in-out;   
        height: 70px;
    }
    header{
        transition: 0.5s ease-in-out;
        height: 70px;
    }
    iframe{
        transition: 0.5s ease-in-out;
        height: 337,5px;
        width: 450px;
    }
    
}
@media screen and (max-width: 930px ){
    header{
        font-size: 10px;
    }
    body{
        font-size: 10px;
    }
    .favicon{
        transition: 0.5s ease-in-out;
        width: 38px;
        height: 18px;
    }
    h2{
        transition: 0.5s ease-in-out;
        font-size: 1rem ;
    }
    .iconos{
        transition: 0.5s ease-in-out;
        width: 15rem;
        padding-top: 3rem;
        gap: 0.2rem;
    }
    .encabezadoFijo{   
        transition: 0.5s ease-in-out;     
        height: 50px;
    }
    header{
        transition: 0.5s ease-in-out;
        height: 50px;
    }
    .enlaces{
        display: none;
    }
    .btn-menu{
        display: block;
    }
    iframe{
        transition: 0.5s ease-in-out;
        height: 225px;
        width: 300px;
    }
}
/* ----- Termina código css de Yair ----- */